{% if authors|length %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Profile Image</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <img src="https://s3.us-east-2.amazonaws.com/mpwar-performance-exercise/images/{{ author.filename }}" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        <strong>No authors.</strong>
    </div>
{% endif %}